.comment-container {
    overflow: hidden;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #F3F5F6;
    justify-content: center;
    align-items: center;
    width: auto;
    padding: 20px;
}