.single-photo-photo-page {
    width: 40%;
    height:50%;
    display: block;
    box-shadow: 0 0 15px rgba(0, 0 , 0, .2);
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    margin: auto;
    margin-bottom: 10px;
  padding:10px;
  background: white; 
  box-shadow: 0 0 15px rgba(0, 0 , 0, .2);
  background-size: cover;
}


.title-single-photo-page{
    font-weight: Bold;
    font-size: 30px;
    display: flex;
    justify-content: center;
}