img {
    width: 100%;
    height:auto;
    display: block;
    box-shadow: 0 0 15px rgba(0, 0 , 0, .2);
    box-sizing: border-box;
    background-size: cover;
}

/*How the photos are arranged on the explorer page*/
.photo-layout {  
    line-height: 0;
    column-count:4;
    column-gap:0px;
    padding: 5%;
}

.single-photo-home-page {
  width: 100%;
  height:auto;
  display: block;
  margin-bottom: 10px;
  padding:10px;
  background: white; 
  box-shadow: 0 0 15px rgba(0, 0 , 0, .2);
  box-sizing: border-box;
  background-size: cover;
  
}

.single-photo-home-page:hover{  /*Makes photo pop-up*/
  z-index: 3;
  transform: scale(1.05);
  box-shadow: 0 25px 40px rgba(0, 0, 0, 0.8);
}



 /*What is used to keep captions and username on display*/ 
 .photo-description-box {    
    box-sizing: border-box;
    display: inline-block;
    position: relative;
    margin: 10px;
}

.photo-description-content {
  font-family: Proxima Nova,helvetica neue,helvetica,arial,sans-serif;
  opacity: 0;  
}  


.photo-description-box:hover .photo-description-content {
  font-family: Proxima Nova,helvetica neue,helvetica,arial,sans-serif;
  visibility: visible;
  opacity: 1;
  position: absolute;
  left: 0px;
  bottom: 2px;
  right: 0px;
  color: white;
  transform: scale(1.05);
  background-color: rgba(0, 0, 0, 0.8);
  line-height: 2;
} 






