img {
    width: 100%;
    height:auto;
    /* display: block; */
    margin-bottom: 10px;
    padding:10px;
    background: white;
    box-shadow: 0 0 15px rgba(0, 0 , 0, .2);
    box-sizing: border-box;
}

/*How the photos are arranged on the explorer page*/
.photo-layout {  
    line-height: 0;
    column-count:4;
    column-gap:0px;
    padding: 5%;
}


.single-photo:hover{
  /* z-index: 1; */
  transform: scale(1.25);
  box-shadow: 0 25px 40px rgba(0, 0, 0, 0.8);
}


 /*What is used to keep captions and username on display*/ 
 .photo-description-box {    
    box-sizing: border-box;
    display: inline-block;
    position: relative;
    margin: 10px;
/* 
    opacity: 0;
    visibility: hidden; */
}

.photo-description-content {
  font-family: Proxima Nova,helvetica neue,helvetica,arial,sans-serif;
  /* position: absolute; */
  /* top: 0; */
  /* bottom: 20px;
  left: 0;
  right: 10px; */
  /* background: rgba(29, 106, 154, 0.72); */
  /* color: #fff; */
  /* line-height: 10; */
  /* visibility: hidden; */
  opacity: 0;
  /* display: grid; */
  
}  

.photo-description-box:hover .photo-description-content {
  font-family: Proxima Nova,helvetica neue,helvetica,arial,sans-serif;
  visibility: visible;
  opacity: 1;
  position: absolute;
  left: 0px;
  bottom: 2px;
  right: 0px;
  color: white;
  /* align-items: stretch; */
  background-color: rgba(0, 0, 0, 0.8);
  line-height: 2;
  display: grid;
}