body{
    background-color: gray;
}
.form-position-upload{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 200px ;
}
.fa-cloud-upload {
    font-size: 45px;
    color: rgba(255, 255, 255, 0.219);
}
.fa-cloud-upload:hover {
    color: white;
    cursor: pointer;
}

.upload-photo-border {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 65px 40px;
    border-radius: 3px;
}

.submit-btn-upload{
    font-family: Proxima Nova,helvetica neue,helvetica,arial,sans-serif;
    color: #fff;
    width: 75px;
    background-color: #128FDC;
    border-style: none;
    height: 35px;
    margin-top: 1px;
    font-weight: bold;
    border-radius: 8px;
    border: 1px solid black;
    font-size: 16px;
    cursor: pointer;
    margin-right: 20px;
}

.cancle-btn-upload{
    font-family: Proxima Nova,helvetica neue,helvetica,arial,sans-serif;
  color: #fff;
  width: 75px;
  background-color: #128FDC;
  border-style: none;
  height: 35px;
  margin-top: 15px;
  font-weight: bold;
  border-radius: 8px;
  border: 1px solid black;
  font-size: 16px;
  cursor: pointer;
  margin-left: 5px;

}