.landing-img{
  background-size: cover;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
  top:0px;
}

.landing-page-header {
  text-align: center;
  margin-top: 300px;
  color: white;
  font-size: 40px;
  font-weight: 900;

} 

.start-adventure-button {
  font-family: Proxima Nova,helvetica neue,helvetica,arial,sans-serif;
  height: 64px;
  line-height: 64px;
  font-size:24px;
  font-weight: 800;
  text-decoration: none;
  text-align: center;
  padding: 0 20px;
  box-sizing: border-box;
  display: inline-block;
}

.start-adventure {
  text-decoration: none;
  color: black;
  font-family: Proxima Nova,helvetica neue,helvetica,arial,sans-serif;
  font-weight: 700;
  /* background-color:  rgba(255, 255, 255, 0.75); */
  border: 1px solid black;
  padding: 15px 32px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
}

.start-adventure:hover {
  text-decoration: none;
  color:  rgba(51, 51, 51, 0.746);
  
}

.bottom-bar-landing{
  color: white;
  background-color: black;
  width: 100%;
  height: 7vh;
  position:absolute;
  bottom:0;
  margin:auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.git-hub-link{
  text-decoration: none;
  color: rgba(255, 255, 255, 0.5);
  right: 150px;
}

.git-hub-link:hover{
  text-decoration: none;
  color: white;
  right: 150px;
}

.fa-github {
  font-size: 45px;
}