.nav-button-slickr{
    text-decoration: none;
    color: white;
    font-family: Proxima Nova,helvetica neue,helvetica,arial,sans-serif;
    font-weight: 700;
}
.navbar-button {
    /* take away underline */
    text-decoration: none;
    color: white;
    font-family: Proxima Nova,helvetica neue,helvetica,arial,sans-serif;
    font-weight: 700;
    display: flex;
    justify-content: flex-start;
}
/* .btn-left {
    display: flex;
    justify-content: flex-start;
} */

.logout-btn{
    color: black;
}
.logout-btn:hover{
    color: black;
    cursor: pointer;
}
.navbar-container {
    background-color: #000000;
    color: #212124;
    position: -webkit-sticky;
    position: sticky;
    display: flex;
    justify-content: space-around;
    height: 50px;
    align-items: center;
    width:100%;
    z-index: 2;
}

