.nav-button-slickr{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.5);
    font-family: Proxima Nova,helvetica neue,helvetica,arial,sans-serif;
    font-weight: 800;
    display: flex;
    justify-content: flex-end;
}

.nav-button-slickr:hover {
    color: white;
}

.navbar-button {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.5);
    font-family: Proxima Nova,helvetica neue,helvetica,arial,sans-serif;
    font-weight: 800;
}

.navbar-button:hover {
    color: white;
}

.logout-btn{
    color: black;
}

.logout-btn:hover{
    color: black;
    cursor: pointer;
}

.navbar-container {
    background-color: #000000;
    color: #212124;
    position: -webkit-sticky;
    position: sticky;
    display: flex;
    justify-content: space-around;
    height: 50px;
    align-items: center;
    width:100%;
    z-index: 2;
}

.profile-btn {
    display:flex;
    justify-content: left;
}